.nav-company {
  border: $global-border;
  border-radius: $global-radius;
  background-color: $white;

  a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    display: block;
    width: 100%;
    padding: 1.4em 20px 1.4em 18px;
    text-transform: uppercase;
    font-weight: 500;
    border-left: 2px solid transparent;
    font-size: 14px;

    &.router-link-exact-active {
      border-left-color: $primary;
      background-color: $sidenav-item-active-bg;
    }

    &:not(:first-child) {
      border-top: $global-border;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.breadcrumb {
  li {
    text-transform: uppercase;
    font-size: 12px;
  }

  li, a {
    color: $gray-600;
  }
}
